name: Codeberg Mirror
on:
  workflow_dispatch:
  schedule:
    - cron: 0 0 * * *
jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Mirror to Codeberg
        uses: yesolutions/mirror-action@master
        with:
          REMOTE: "https://codeberg.org/Frestein/awesome-stars.git"
          GIT_USERNAME: ${{ secrets.CODEBERG_USERNAME }}
          GIT_PASSWORD: ${{ secrets.CODEBERG_TOKEN }}
